@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header_wrapper1 {
  background-image: url("images/banner-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 40vw;

  a {
    color: white;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 59.375vw 1fr;
    grid-template-rows: 3.5vw 36.5vw;
    // border-bottom: 1px solid grey;
    // align-items: center;

    .headeris {
      position: fixed;
      width: 59.375vw;
      height: 3.646vw;
      justify-self: center;

      display: flex;
      justify-content: space-between;
      align-content: center;

      border-bottom: 1px solid grey;
      transition: 0.5s ease;

      .logo {
        font-size: 1.042vw;
        font-weight: 700;
        margin: 1.302vw 0 1.302vw 0;

        span {
          font-size: 0.885vw;
        }
      }

      .links_btns {
        width: 61%;
        display: flex;
        justify-content: space-between;

        nav {
          // margin: 30px 0 0 0;
          li {
            display: inline-block;
            margin: 1.563vw 2.5vw 1.563vw 0;

            font-size: 0.729vw;
            font-weight: 300;

            a {
              transition: 0.3s ease;
              &:hover {
                color: $turquoise;
              }
            }
          }
        }

        .btns {
          display: flex;
          justify-content: space-between;
          align-content: center;
          text-align: center;
          gap: 1vw;
          width: 30%;

          .login,
          .register {
            font-size: 0.729vw;
            font-weight: 400;
            margin: 1.042vw 0 1.042vw 0;
            height: 1.5vw;
            transition: 0.5s ease;
          }

          .login {
            padding: 0.3vw 0.9vw;
            border: 0.104vw solid $white;

            &:hover {
              border: none;
              background: $white;
              color: $turquoise;
              padding: 0.35vw 0.92vw;
            }
          }

          .register {
            padding: 0.35vw 0.8vw;
            background-color: $turquoise;

            &:hover {
              background: $hover;
            }
          }
        }
      }
    }

    .headeris2 {
      position: fixed;
      width: 59.375vw;
      height: 3.646vw;
      justify-self: center;
      z-index: 1000;

      background: $white;

      display: flex;
      justify-content: space-between;
      align-content: center;

      border-bottom: 1px solid grey;
      transition: 0.5s ease;

      a {
        color: black;
      }

      .logo {
        font-size: 1.042vw;
        font-weight: 700;
        margin: 1.302vw 0 1.302vw 0;
        color: black;

        span {
          font-size: 0.885vw;
        }
      }

      .links_btns {
        width: 61%;
        display: flex;
        justify-content: space-between;

        nav {
          // margin: 30px 0 0 0;
          li {
            display: inline-block;
            margin: 1.563vw 2.5vw 1.563vw 0;

            font-size: 0.729vw;
            font-weight: 300;
          }
        }

        .btns {
          display: flex;
          justify-content: space-between;
          align-content: center;
          text-align: center;
          gap: 1vw;
          width: 30%;

          .login,
          .register {
            font-size: 0.729vw;
            font-weight: 400;
            margin: 1.042vw 0 1.042vw 0;
            height: 1.5vw;
          }

          .login {
            padding: 0.3vw 0.9vw;
            border: 0.104vw solid $turquoise;
            color: $turquoise;

            &:hover {
              border: none;
              background: $turquoise;
              color: $white;
              padding: 0.35vw 0.92vw;
            }
          }

          .register {
            padding: 0.35vw 0.8vw;
            background-color: $turquoise;

            &:hover {
              background: $hover;
            }
          }
        }
      }
    }

    main {
      grid-column: 2/3;
      grid-row: 2/3;
      align-self: center;

      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 1.5vw;
      padding: 16%;
      color: $white;

      h1 {
        font-size: 1.823vw;
        text-transform: uppercase;
      }

      .input_container {
        width: 100%;
        display: flex;
        align-content: center;
        padding: 0 0.5vw;
        font-size: 0.833vw;
        gap: 1vw;

        input,
        a {
          height: 2.5vw;
        }

        input {
          width: 80%;
          padding: 0 3%;
          background: transparent;
          border: 0.104vw solid $white;
          color: white;
          font-size: 0.833vw;
        }

        a {
          padding: 0.65vw 0;
          width: 20%;
          background-color: $turquoise;
        }
      }

      .checkbox_container {
        display: flex;
        justify-content: center;
        font-size: 0.833vw;
        gap: 3vw;
      }
    }
  }
}

.hosting_services {
  height: 45vw;
  display: flex;
  align-content: center;
  justify-content: center;

  .grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 59.375vw 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    // gap: vw;
    //         white-space: nowrap;
    //   overflow: hidden;
    //   text-overflow: ellipsis;

    header {
      grid-column: 2/3;
      line-height: 1.5;
      h3 {
        color: $turquoise;
        font-size: 1.042vw;
      }

      h1 {
        font-size: 1.823vw;
      }

      p {
        font-size: 0.833vw;
      }
    }
    main {
      align-self: flex-start;
      grid-column: 2/3;
      width: 59.375vw;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1vw;

      .con {
        background: $white-grey;
        height: 25vw;
        // width: 15vw;
        padding: 1.563vw;
        // width: 19.105vw;
        border-radius: 0.781vw;
        // align-self: flex-start;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        // align-content: center;

        h2 {
          font-size: 1.042vw;
        }

        p {
          font-size: 0.8vw;
        }

        .fa-database::before {
          color: $white;
          background-color: $turquoise;
          border: 2.083vw solid $turquoise;
          border-radius: 50%;
          padding: 0 0.104vw;
          font-size: 1.563vw;
        }
      }
    }
  }
}

.configuration_cloud_hosting {
  display: grid;
  grid-template-columns: 1fr 59.375vw 1fr;
  grid-template-rows: 10vw 10vw 23vw 2vw;
  height: 45vw;

  .img_container {
    grid-column: 1/4;
    grid-row: 1/3;

    background-image: url("images/pricing-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  .text_container {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    text-align: center;
    line-height: 2.5;
    color: $white;
    font-size: 20px;

    h1 {
      font-size: 1.5vw;
    }

    p {
      font-size: 0.8vw;
    }
  }

  main {
    grid-column: 2/3;
    grid-row: 2/4;
    width: 59.375vw;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;

    .con2 {
      background: $white;
      box-shadow: 0.052vw 0px 1.354vw -0.313vw rgba(0, 0, 0, 0.77);
      // height: 35vw;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;

      overflow: visible;

      .upper_field,
      .lower_field {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        // align-content: center;
        // align-items: center;
        height: 50%;
        text-align: center;
        padding: 0 3vw;

        h2 {
          font-size: 1.042vw;
        }

        h3 {
          text-transform: uppercase;
          font-size: 1.042vw;
        }

        .pricing_div {
          background: $turquoise;
          padding: 1.3vw 0;
          color: $white;
        }

        .linear {
          background-image: linear-gradient(to right, $blue, $purple);
        }

        p {
          font-size: 0.8vw;
        }
      }

      .lower_field {
        text-align: start;
        padding: 0 3.5vw;

        div {
          display: flex;
          font-size: 1.042vw;
          line-height: 2;

          h6 {
            font-weight: 400;
            margin: 0 0 0 1vw;
          }

          .fa-check::before {
            background: -webkit-linear-gradient($blue, $purple);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        a {
          background: $turquoise;
          height: 3vw;
          position: relative;
          top: 2vw;
          color: $white;
          text-transform: uppercase;
          font-weight: 500;

          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.8vw;

          transition: 0.5s ease;

          &:hover {
            background: $hover;
          }
        }

        .linear {
          &:hover {
            background: linear-gradient(to right, $purple, $blue);
          }
        }
      }
    }
  }
}

.rating {
  display: grid;
  grid-template-columns: 1fr 59.375vw 1fr;
  height: 35vw;
  background: $white-grey;
  margin: 5vw 0 0 0;

  .texts_container {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0 10vw;

    h3 {
      font-size: 1.042vw;
      color: $turquoise;
    }

    h1 {
      font-size: 1.5vw;
    }

    p {
      font-size: 0.8vw;
    }

    h2 {
      font-size: 1.042vw;
    }

    .fa-quote-right::before {
      color: $white;
      background: linear-gradient($blue, $purple);
      background-origin: padding-box, border-box;
      background-repeat: no-repeat; /* this is important */
      border: 0px solid transparent;
      border-radius: 2.604vw;
      padding: 1.5vw 1.5vw;
      font-size: 1vw;
    }
  }
}

.footer {
  background-image: url("images/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  display: grid;
  grid-template-columns: 1fr 59.375vw 1fr;
  grid-template-rows: 18vw 7vw;
  height: 25vw;
  color: $white;

  header {
    grid-column: 2/3;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: flex-start;
    gap: 1vw;

    border-bottom: 1px solid grey;

    .col {
      line-height: 2;

      h1 {
        font-size: 1.042vw;
      }
      p {
        font-size: 0.8vw;
      }

      .sub_col {
        display: flex;
        // line-height: ;
        font-size: 0.573vw;
        p {
          margin-top: 0.208vw;
          margin-left: 0.26vw;
          font-size: 0.729vw;
        }
      }
    }
  }
  footer {
    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 0.9vw;
    }
  }
}
