@import 'variables';

// BUTTONS

// *
@mixin star {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

// DISPLAY GRID 1140px
@mixin grid-template-columns {
    display: grid;
    grid-template-columns: 1fr 59.375vw 1fr;
}

// HEADERS
@mixin headeris {
    position: fixed;
    // width: 59.375vw;
    width: 100%;
    padding: 0 20.313vw;
    height: 3.646vw;
    justify-self: center;

    grid-column: 2/3;

    display: flex;
    justify-content: space-between;
    align-content: center;

    border-bottom: 1px solid grey;
    transition: 0.5s ease;
}


@mixin headeris2 {
    position: fixed;
    // width: 59.375vw;
    width: 100%;
    padding: 0 20.313vw;
    height: 3.646vw;
    justify-self: center;

    grid-column: 2/3;
    background: $white;

    display: flex;
    justify-content: space-between;
    align-content: center;

    border-bottom: 1px solid grey;
    transition: 0.5s ease;

    z-index: 1000;
}