@import "variables";

// BUTTONS

// *
@mixin star {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

// DISPLAY GRID 1140px
@mixin grid-template-columns {
  display: grid;
  grid-template-columns: 1fr 59.375vw 1fr;
}

// HEADERS
@mixin headeris {
  position: fixed;
  // width: 59.375vw;
  width: 100%;
  padding: 0 20.313vw;
  height: 3.646vw;
  justify-self: center;

  grid-column: 2/3;

  display: flex;
  justify-content: space-between;
  align-content: center;

  border-bottom: 1px solid grey;
  transition: 0.5s ease;
}

@mixin headeris2 {
  position: fixed;
  // width: 59.375vw;
  width: 100%;
  padding: 0 20.313vw;
  height: 3.646vw;
  justify-self: center;

  grid-column: 2/3;
  background: $white;

  display: flex;
  justify-content: space-between;
  align-content: center;

  border-bottom: 1px solid grey;
  transition: 0.5s ease;

  z-index: 1000;
}

@mixin header {
  .logo {
    font-size: 1.042vw;
    font-weight: 700;
    margin: 1.302vw 0 1.302vw 0;

    span {
      font-size: 0.885vw;
    }
  }

  .links_btns {
    width: 61%;
    display: flex;
    justify-content: space-between;

    nav {
      li {
        display: inline-block;
        margin: 1.563vw 2.5vw 1.563vw 0;

        font-size: 0.729vw;
        font-weight: 300;

        a,button {
          transition: 0.3s ease;
          &:hover {
            color: $turquoise;
          }
        }
      }
    }

    .btns {
      display: flex;
      // justify-content: space-between;
      justify-content: center;
      align-content: center;
      text-align: center;
      gap: 1vw;
      width: 30%;

      .login_btn,
      .register_btn {
        font-size: 0.729vw;
        font-weight: 400;
        margin: 1.042vw 0 1.042vw 0;
        height: 1.5vw;
        transition: 0.5s ease;
      }

      .login_btn {
        padding: 0.3vw 0.9vw;
        border: 0.104vw solid $white;

        &:hover {
          border: none;
          background: $white;
          color: $turquoise;
          padding: 0.35vw 0.92vw;
        }
      }

      .register_btn {
        padding: 0.35vw 0.8vw;
        background-color: $turquoise;
        border: none;

        &:hover {
          background: $hover;
        }
      }
    }
  }
}


@mixin fa{
    color: $white;
    background-color: $turquoise;
    border: 0.783vw solid $turquoise;
    border-radius: 50%;
    padding: 0 0.105vw;
    font-size: 1.163vw;
}

@mixin background_image{
  // background-size: cover;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
    height: 35vw;
}