@import "./variables";
@import "./mixins";

* {
  @include star;
}

.header_wrapper_about {
  background-image: url("images/heading-bg.jpg");
  @include background_image;
  height: 35vw;

  a {
    color: white;
  }

  header {
    @include grid-template-columns;
    grid-template-rows: 3.5vw 36.5vw;
    // border-bottom: 1px solid grey;
    // align-items: center;

    .headeris_about {
      @include headeris;

      @include header;
    }

    .headeris2 {
      @include headeris2;

      a {
        color: black;
      }

      @include header;
    }

    .text {
      grid-column: 2/3;
      grid-row: 2/3;
      align-self: flex-start;

      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 1.5vw;
      padding: 16%;
      color: $white;

      h1 {
        font-size: 1.823vw;
      }

      p {
        font-size: 0.8vw;
      }
    }
  }
}

.aboutus_section {
  @include grid-template-columns;
  height: 50vw;
  align-items: center;

  .wrapper {
    grid-column: 2/3;
    height: 90%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5vw;
    align-items: center;

    .img_container {
      height: 100%;
      display: grid;
      justify-items: center;
      align-items: flex-start;
      width: 100%;

      img {
        max-width: 100%;
        width: 26.042vw;
        margin: 5vw 0 0 0;
        align-self: flex-start;
        justify-self: center;
      }
    }

    .text {
      .upper_div {
        h3 {
          color: $turquoise;
          font-size: 1vw;
        }
        h1 {
          font-size: 1.5vw;
        }
        p {
          font-size: 0.8vw;
          font-weight: 300;
        }

        padding: 0 0 2vw 0;

        border-bottom: 2.5px solid $white-grey;
      }

      .lower_div {
        .heading {
          display: flex;
          margin: 2vw 0 0 0;
          gap: 2vw;

          h2 {
            font-size: 1vw;

            &:nth-child(1) {
              color: $turquoise;
            }
          }
        }

        .ps {
          line-height: 4;
          font-size: 0.8vw;

          p {
            font-weight: 300;
          }
        }
      }
    }
  }
}
