@import "./variables";
@import "./mixins";

* {
  @include star;
}

.header_wrapper_about {
  background-image: url("images/heading-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 30vw;

  a {
    color: white;
  }

  header {
    @include grid-template-columns;
    grid-template-rows: 3.5vw 36.5vw;
    // border-bottom: 1px solid grey;
    // align-items: center;

    .headeris_about {
      @include headeris;

      @include header;
    }

    .headeris2 {
      @include headeris2;

      a {
        color: black;
      }

      @include header;
    }

    .text {
      grid-column: 2/3;
      grid-row: 2/3;
      align-self: flex-start;

      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 1.5vw;
      padding: 16%;
      color: $white;

      h1 {
        font-size: 1.823vw;
      }

      p {
        font-size: 0.8vw;
      }
    }
  }
}

.hosting_services {
  height: 55vw;
  display: flex;
  align-content: center;
  justify-content: center;

  .grid_wrapper {
    @include grid-template-columns;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    // gap: vw;
    //         white-space: nowrap;
    //   overflow: hidden;
    //   text-overflow: ellipsis;

    header {
      grid-column: 2/3;
      line-height: 1.5;
      h3 {
        color: $turquoise;
        font-size: 1.042vw;
      }

      h1 {
        font-size: 1.823vw;
      }

      p {
        font-size: 0.833vw;
      }
    }
    main {
      align-self: flex-start;
      grid-column: 2/3;
      width: 59.375vw;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2vw;

      .con {
        background: $white-grey;
        height: 20vw;
        padding: 1.563vw;
        border-radius: 0.781vw;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;

        h2 {
          margin: 1.5vw 0 0 0;
          font-size: 1.042vw;
        }

        p {
          font-size: 0.8vw;
          // margin: 0 0 -2vw 0;
        }

        .fa::before {
          @include fa;
        }
      }
    }
  }
}
