// COLORS:

$white: #FFFFFF; 
// ○ text s farebným pozadím
// ○ pozadie
// ○ orámovanie tlačidiel, inputov

$turquoise: #00BCD4;
// ○ text podnadpisov
// ○ orámovanie, pozadie tlačidiel
// ○ hover efekt - pozadie tlačidiel
// ○ ikony - pozadie
// ○ cenník - pozadie

$grey: #6A6A6A;  
// ○ text s bielym pozadím

$black: #1E1E1E;
// ○ text s bielym pozadím

$white-grey: #F7F7F7;
// ○ doplňujúce pozadie sekcie

$hover: #00A4B9;
// ○ hover efekt - pozadie tlačidiel
// ○ hover efekt - orámovanie tlačidiel

$purple: #7202BB;
$blue: #3264f5;
// ○ prechod farby - pozadie

