@import 'pages/variables';
@import 'pages/mixins';

@import 'pages/home';
@import 'pages/login';
@import 'pages/registration';

@import './pages/onas';
@import './pages/sluzby';
@import './pages/kontakt';

@import './pages/variables';
@import './pages/mixins';

*{
    text-decoration: none;
    list-style: none;
}

.show-modal {
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

.hidden {
    display: none;
}

.modal {
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    // height: 50%;

    background-color: white;
    padding: 10rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 1000000;
    animation: modal 0.7s;

    h1{
        margin-bottom: 3vw;
        padding-top: 0.5vw;
        text-align: center;
        background-color: $turquoise;
        position: relative;
        border-radius: 0.2vw;
        color: white;
        height: 3vw;
    }

    .input_container{
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 1vw;

        input{
            width: 60%;
            height: 2vw;
            padding-left: 0.5vw;
        }

        a{
            background-color: $turquoise;
            padding: 0.5vw 2vw;
            color: white;
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 420.1%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 10000;
}

@keyframes modal {
    0% { bottom: -100%; }
    50% { bottom: 5%; }
    100% { bottom: -10%; }
}

@keyframes modal2 {
    0% {
        bottom: 0%;
    }

    50% {
        bottom: 5%;
    }

    100% {
        bottom: -100%;
    }
}